body{
	font-family: Arial;
}
.form{
	float:center;
max-width:800px;
      background:#F1F3EE;
      float: center;
      width: 700px;
      margin: auto;
      line-height:3rem;
      border-radius: 8px;
}
.quotebutton {
    display: block;
    margin: 0 auto;
    font-family: Arial;
    font-size: 18px;
    border-radius: 5px;
    padding: 7px;
    color: white;
    background-color: #646563;
}